<div id="proyectodetalle" *ngIf="proyecto">
<h1>{{proyecto.name}}</h1>
<p> {{proyecto.year}}</p>
<p id="desc">{{proyecto.desc}}</p>
<img src="{{url+'getImage/'+proyecto.image}}"  *ngIf="proyecto.image !='' ">
            <p id="metadata">
                <span class="met">Categoria: </span>{{proyecto.category}}
                <br>
                <span class="met">Lenguajes: </span> <span>{{proyecto.langs}}</span>
                <br>
            </p>
<p *ngIf="confirm==false">
    <a [routerLink]="['/editar',proyecto._id]" class="botedit">Editar</a>
    <a (click)="setconfirmation(true)" class="botdel" >Borrar</a>
</p>
<div *ngIf="confirm==true">
    <div class="warning-msg">
        <i class="fa fa-warning"></i>
       ¿Esta seguro de eliminar este proyecto?
      </div>
    <a [routerLink]="setconfirmation(false)" class="botcan">Cancelar</a>
    <a (click)="deleteProject(proyecto._id)" class="botcon" >Confirmar</a>
    </div>              
</div>