<div id="contactbox" style="padding: 5px;">
<h1>Pagina de Contacto</h1>
<p>Pagina de Contacto, pregunta cualquier inquietud</p>

<div #contenido>

</div>
</div>
<!--
<input type="text" [(ngModel)]="message">

<div *ngIf="message">
<span>Mensaje de Bienvenida:</span>
<strong>{{message}}</strong>
<app-infocontacto [message]="message"
                (darAutor)="getAutor($event)"></app-infocontacto>
</div>

<div *ngIf=autor>
    {{autor.nombre}} - {{autor.profesion}}
    <br>
    {{autor.linkedIn}}
</div>
-->
