
<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>
<br>
<article class="about">
    <div>
        <h2>Sobre Mi</h2>
        <hr/>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin felis quis lacus varius, id aliquet nibh dignissim. Vivamus maximus, elit ac aliquet tempor, erat tortor facilisis massa, et elementum libero libero quis nunc. Mauris lacinia elementum placerat. Cras commodo elementum risus vitae dapibus. Sed pharetra enim eget purus imperdiet ultricies. Cras scelerisque vestibulum pharetra. Aliquam vel nisl mattis, posuere mauris eget, ultrices ex. Aliquam fermentum nulla sit amet nulla aliquet placerat at nec velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi ex, tempus in blandit ut, congue sit amet lacus.
        </p>
    </div>
</article>